:root {
	--black: #121212;
	--white: #fff;
	--brown: #bea69e;
    --font-family: "DM Sans", sans-serif;
}

/* header start */

/* header end */
      
/* 1.section start */

/* 1.section end */
      
/* 2.section start */

/* 2.section end */
      
/* 3.section start */

/* 3.section end */
      
/* 4.section start */

/* 4.section end */
      
/* 5.section start */

/* 5.section end */

/* 6.section start */

/* 6.section end */

/* footer start */

/* footer end */