:root {
  --black: #121212;
  --white: #fff;
  --brown: #bea69e;
  --font-family: "DM Sans", sans-serif;
}

/* header start */

/* header end */

/* 1.section start */

/* 1.section end */

/* 2.section start */

/* 2.section end */

/* 3.section start */

/* 3.section end */

/* 4.section start */

/* 4.section end */

/* 5.section start */

/* 5.section end */

/* 6.section start */

/* 6.section end */

/* 7.section start */

/* 7.section end */

/* footer start */
:root {
  --black: #121212;
  --gray: #1d1d1d;
  --white: #fff;
  --brown: #bea69e;
  --font-family: "DM Sans", sans-serif;
}

body{
  top: -20px;
  position: relative;
}

.container {
  background-color: var(--black);
  width: 1440px;
  margin: auto;
}


ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.footer {
  padding: 40px 20px;
  background-color: var(--black);
  color: var(--white);
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer-address {
  font-size: 14px;
  text-transform: uppercase;
}

.address-link {
  display: block;
  margin-bottom: 10px;
}

.thumb {
  display: flex;
  flex-wrap: wrap;
  column-gap: 40px;
  margin-bottom: 50px;
}

.footer-list, .footer-menu {
  font-size: 14px;
  text-transform: uppercase;
}

.footer-item:not(:last-child),
.social-item:not(:last-child) {
  margin-bottom: 14px;
}

.footer-item:hover, .footer-item:focus {
  color: var(--brown);
}

.footer-label {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-footer {
  width: 100%;
  max-width: 267px;
  height: 60px;
  border-radius: 12px;
  background: var(--white);
  padding-left: 18px;
  color: var(--black);
  font-size: 16px;
  border: none;
}

.btn-footer {
  background-color: var(--gray);
  font-size: 20px;
  min-width: 60px;
  height: 60px;
  border-radius: 12px;
  transition: background-color 250ms ease;
}

.privacy-wrapper {
  display: flex;
  justify-content: space-between;
}

.privacy-link, .copyright-footer {
  font-size: 12px;
}

.plus-wrapper {
  margin-bottom: 40px;
}

.footer-form {
  margin: 75px 0 40px;
}

/*** Tablet ***/
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .footer {
    padding: 50px 25px;
  }

  .plus-wrapper {
    display: flex;
    flex-direction: column;
  }

  .wrapper {
    display: flex;
  }

  .input-footer {
    max-width: 178px;
  }
}

/*** Masaustu ***/
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 100px;
  }

  .footer-address {
    margin-right: 285px;
  }

  .thumb {
    column-gap: 50px;
  }
}


/* Footer end */
